@import "tailwindcss";

/* 스크롤 애니메이션 (전체 페이지에 부드러운 스크롤 적용) */
html {
  scroll-behavior: smooth;
}

/* WebKit 기반 브라우저용 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f172a; /* Tailwind bg-slate-900 */
}
::-webkit-scrollbar-thumb {
  background-color: #06b6d4; /* Tailwind cyan-400 */
  border-radius: 8px;
  border: 2px solid #0f172a;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #22d3ee; /* Tailwind cyan-300 */
}

.grecaptcha-badge {
  visibility: hidden !important;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #0f172a;
} */
